@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');


body {

    font-family: 'Quicksand', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(246, 208, 233);
}
header{
    background-color: rgb(247, 179, 223);
}
